{% extends "base.html" %}
{% block header%}Posts{% endblock header%}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	{% if posts %}
	    {% for post in posts %}
	    		<div class="post-preview">
                    <a href="{% url "posts_detail" post.id %}">
                        <h2 class="post-title">
                            {{ post.post_title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.post_preview }}
                        </h3>
                    </a>
                    <p class="post-meta"><a href="{% url "edit_post" post.id%}">Edit Post</a> | <a href="{% url "posts_detail" post.id %}">View Post</a></p>
                </div>
                <hr>
	    {% endfor %}
	{% else %}
	    <p>You have created no posts at this time. Visit <a href="{% url "create_post" %}">here</a> to create a post.</p>
	{% endif %}
			</div>
        </div>
    </div>
{% endblock content %}