{% extends "base.html" %}
{% block header%} Faculty {% endblock header%}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	{% if faculties %}
	    {% for faculty in faculties %}
	    		<div class="post-preview">
                    <a href="{% url "faculty_detail" faculty.id %}">
                        <h2 class="post-title">{{faculty.faculty_title}}. {{ faculty.user.first_name }} {{faculty.user.last_name}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ faculty.faculty_preview }}
                        </h3>
                    </a>
                </div>
                <hr>
	    {% endfor %}
	{% else %}
	    <p>No posts are available.</p>
	{% endif %}
			</div>
        </div>
    </div>
{% endblock content %}