{% extends "base.html" %}
{% block header%}News{% endblock header%}

{% block content %}
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	{% if news %}
	    {% for news in news %}
	    		<div class="post-preview">
                    <a href="{% url "news_detail" news.id %}">
                        <h2 class="post-title">
                            {{ news.news_title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ news.news_preview }}
                        </h3>
                    </a>
                </div>
                <hr>
	    {% endfor %}
        <ul class="pager">
            {% if news.has_previous %}
                <li class="previous">
                    <a href="?page={{ news.previous_page_number }}" style="float: left;">&larrtl; Newer News</a>
                </li>
            {% endif %}
            {% if news.has_next %}
                <li class="next">
                    <a href="?page={{ news.next_page_number }}">Older News &rarr;</a>
                </li>
            {% endif %}
        </ul>
	{% else %}
	    <p>No news are available.</p>
	{% endif %}
			</div>
        </div>
    </div>
{% endblock content %}