{% extends "base.html" %}
{% block header%} News{% endblock header%}

{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	
            	{% if news%}
            	<div class="post-preview">
                    <h2 class="post-title">
                        {{ news.news_title }}
                    </h2>
                </div>
            	<p>{{news.news_body|safe}}</p>
            	{% else %}
            	<p>The page you are trying to view does not exist</p>
            	{% endif %}
            	
            </div>
        </div>
    </div>
</article>
{% endblock content %}